.gitignore
.github/*
.vscode/*
docs/*
env/*
impostazioni/__pycache__/*
impostazioni/migrations/__pycache__/*
impostazioni/templatetags/__pycache__/*
OpenMSP/__pycache__/*
.dockerignore
.env
AGENTS.md
db.sqlite3
db copy.sqlite3
db.sqlite3.backup
OpenMSP.code-workspace
TODO
.pi-lens.json
pyrightconfig.json
copy.sqlite3
*.bak*
